.mail-preview-read {
	font-weight: normal;
}

.mail-preview-unread {
	font-weight: bold;
}

.mail-hover-actions {
	display: none;
}

.mail-preview:hover .mail-hover-actions {
	display: block;
}
/* 
.mail-hover-actions:hover {
} */
