.mail-preview {
	width: 60vw;
	border: 1px solid black;
	display: flex;
	justify-content: flex-start;
}

.mail-preview p {
	width: fit-content;
}

.mail-preview header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	height: 4rem;
}

.mail-header-text {
	width: 90%;
}

.mail-prevew.mail-sentat {
	display: flex;
	justify-self: flex-end;
}

.mail-preview header span {
	margin-left: 30px;
}

.mail-preview header span.more {
	margin: 0;
}

.mail-preview header.read {
	font-weight: normal;
}

.mail-preview header.unread {
	font-weight: bold;
}

.mail-hover-actions {
	display: none;
	position: relative;
	justify-self: flex-end;
	height: 50%;
	/* left: 80%; */
	/* bottom: 70%; */
}

.on {
	color: gold;
}
.off {
	color: #ccc;
}

/* Hover */

.mail-preview:hover {
	background-color: rgba(0, 0, 0, 0.164);
}

.mail-preview {
	cursor: pointer;
}

.mail-preview:hover .mail-hover-actions {
	display: flex;
	justify-self: flex-end;
}
