.mail-folder-list-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	height: 50vh;
	width: 10vw;
	justify-content: space-between;
}

meter::-webkit-meter-optimum-value {
	background: rgba(0, 0, 255, 0.473);
}

meter.unread-meter {
	text-align: center;
	position: relative;
	content: attr(value);
	margin-left: 5%;
	height: 100px;
	width: 8vw;
	max-width: 10vw;
}

span.meter-text {
	position: relative;
	left: 1.5rem;
	font-size: 0.8vw;
	font-weight: bold;
	bottom: 52%;
}

button.btn.mail-folder-list-btn:first-child {
	margin-top: 10%;
}

.mail-folder-list-compose-btn {
	color: rgb(52, 53, 52);
	font-size: 1rem;
	font-weight: 500;
	background-color: rgba(250, 235, 235, 0.692);
	width: 150px;
	height: 50px;
	margin-left: 5%;
	border-radius: 2em;
	padding-inline-end: 10px;
	cursor: pointer;
	border: none;
	max-width: 12vw;
}

span.compose-span {
	font-weight: 600;
}

.mail-folder-list-text-span {
	margin-left: 10%;
	color: rgb(87 87 147 / 47%);
	font-size: 1vw;
	background-color: inherit;
	padding-inline-start: 10px;
	height: 50px;
	border-radius: 15px;
	padding-top: 10px;
	cursor: pointer;
}

.mail-folder-list-text-span:hover {
	box-shadow: 0px 0px 0px 2px #a0a0a0, inset 0px 10px 27px -8px #141414,
		inset 0px -10px 27px -8px #9d9e90, 30px 5px 40px 5px rgba(0, 0, 0, 0);
	opacity: 0.9;
	cursor: pointer;
}

@media (max-width: 768px) {
	.mail-folder-list-text-span {
		font-size: 0;
	}
	.mail-folder-list-compose-btn {
		height: 25px;
		width: 50px;
	}
	span.compose-span {
		font-size: 0;
	}
	span.compose-sign-span {
		font-size: 1rem;
	}
	meter.unread-meter {
		height: 40px;
	}

	span.meter-text {
		font-size: 0;
	}
}
