.mail-folder-list-container {
	display: flex;
	flex-direction: column;
	height: 60vh;
	width: 20vw;
	justify-content: space-between;
}

meter::-webkit-meter-optimum-value {
	background: rgba(0, 0, 255, 0.473);
}

meter.unread-meter {
	text-align: center;
	position: relative;
	content: attr(value);
	margin-left: 50%;
	transform: translateX(-50%);
	height: 100px;
	width: 50%;
}

.meter-text {
	position: relative;
	margin-left: 45%;
	font-size: 1.3rem;
	font-weight: bold;
	transform: translate(-50%, -50%);
	bottom: 52%;
}

.mail-folder-list-fa {
	width: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
}

button.btn.mail-folder-list-btn:first-child {
	margin-top: 10%;
}

.mail-folder-list-compose-btn {
	color: rgb(20, 20, 20);
	font-size: 2rem;
	font-weight: 500;
	background-color: rgba(250, 235, 235, 0.692);
	margin-top: 10%;
	width: 230px;
	height: 60px;
	margin-left: 45%;
	border-radius: 2em;
	padding-inline-end: 10px;
	transform: translateX(-50%);
	cursor: pointer;
	border: none;
}

span.mail-folder-list-fa {
	color: rgb(87 87 147 / 47%);
	font-size: 2rem;
	background-color: inherit;
	padding-inline-start: 10px;
	height: 60px;
	border-radius: 15px;
	width: 250px;
	padding-top: 10px;
	cursor: pointer;
}

span.compose-span {
	font-weight: 600;
}

.mail-folder-list-text-span {
	margin-inline-start: 20px;
}
