.book-details {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	font-size: 1rem;
	max-width: 80vw;
	align-items: center;
}

.book-details h2 {
	text-align: center;
	margin-top: 0;
}

.book-details h4 {
	margin-left: 1rem;
	margin-bottom: 10px;
}

.book-details p {
	margin-left: 1rem;
}

.low {
	color: green;
}

.high {
	color: red;
}

article.book-details img {
	height: 150px;
	max-width: fit-content;
}

.book-details span.staron {
	color: gold;
}
.book-details span.staroff {
	color: #ccc;
}

.review-add-containe {
	flex-direction: row;
}
