.book-list {
	min-height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
	gap: 50px;
	text-align: center;
	justify-content: center;
}

.book-list h4 {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0;
}

.book-list img:hover {
	cursor: pointer;
	opacity: 0.8;
}

.book-list img {
	height: 200px;
}
