.notes-filter-container{
    height: 90px;
    width: 100%;
    background-color: #b7ebff;
    display: flex;
    justify-content: center;
}

.note-filter-form {
    display: flex;
    font-size: 20px;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    gap: 15px;
}

.note-filter-input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.note-filter-select {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}