
.app-header {
    background-color: beige;
    font-size: 2rem;
}

.app-header {
    cursor:pointer;
}

.app-header .header-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.app-nav a {
text-decoration: none;
font-weight: bold;
}

.app-nav a:hover{
    
}